<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main.html</title>
  </head>
  <body>
    <h1>main page</h1>

    <h3>welcome, <%= id %> 번째 가입자!!</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adioisicing elit. Vitae veniam
      magnam dignissimous ullamat obcaecati debitis atque. Saepe, voluptatem
      moelstaiae. Laboriosam voluptates hic ducimus quam voluptatum quos aluquam
      laudantium, dolorremque!
    </p>
    <div><a href="/logout">logout</a></div>
    <img src="images/boostCamp.PNG" alt="" width="300px;" />
    <script src="main.js"></script>
  </body>
</html>
